.spec-info {
  width: 50%;
}

.spec-info h2 {
  text-align: center;
}

.spec-info p {
  text-align: justify;
}

/* specialist toggle */

.specialist {
  display: none;
  padding: 48px;
}

.active {
  display: flex; 
  flex-direction: column;
  
}

/* specialist toggle */

@media(max-width: 1400px) {

  .spec-info {
    width: 100%;
  }
}