.specInfo {
  width: 50%;
}

.specInfo h2 {
  text-align: center;
}

.specInfo p {
  text-align: justify;
}

/* specialist toggle */

.specialist {
  display: none;
  padding: 48px;
}

.active {
  display: flex; 
  flex-direction: column;
  
}

/* specialist toggle */

@media(max-width: 1400px) {

  .specInfo {
    width: 100%;
  }
}