@import '../globals.css';
@import '../page.module.css';

/* .container-offer-4 {
  width: 100%;
} */

.entry-text {
    color: #ad3d3d;
    float: left;
    font-size: 40px;
    width: 814px;
    margin-left: 64px;
    margin-right: 0px;
  }
  
  .entry-text h1 {
    margin-top: 0;
    text-align: center;
  }
  
  .entry-text p {
    text-align: justify;
  }
  
  .further-text {
    color: #ad3d3d;
    clear: both;
    font-size: 40px;
    width: 1792px;
    margin-left: 64px;
    margin-right: 0px;
  }
  
  .further-text {
    text-align: justify;
  }
  
  .further-text h2 {
    font-size: 48px;
    font-weight: 900;
  }
  
  .further-text ul {
    margin-left: 15px;
  }
  
  .further-text ul li {
    line-height: 1.8;
  }
  
  .west {
    width: 50%;
  }
  
  .east {
    width: 50%;
    float: right;
    margin-right: 70p;
  }
  