.container {
    height: clamp(250px, 26vw, 500px);
    color: var(--color-text-light);
    display: flex;
    justify-content: space-between;
    padding: 0 calc(min(3.3vw, 64px));
    margin-top: -1px;
}

.photoContainer {
    width: calc(min(34.4vw, 660px));
    position: relative;
    overflow: hidden;
}

.photoContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoBlinder {
    position: absolute;
    top: 0;
    width: calc(min(6vw, 115px));
    height: 100%; 
}

.content {
    width: calc(min(62.2vw, 1195px));
    padding-top: calc(min(1.6vw, 30px));
    display: flex;
    flex-direction: column;
    gap: calc(min(1.6vw, 30px));
}

/* variants */

.containerRegular {
}

.containerReversed {
    flex-direction: row-reverse;
}

.contentContainerRegular {
    align-items: flex-end;
    padding-right: calc(min(7.8vw, 150px));
}

.contentContainerReversed {
    padding-left: calc(min(7.8vw, 150px));
}

.photoContainerRegular {
    border-radius: 0 clamp(20px, 2.6vw, 50px) clamp(20px, 2.6vw, 50px) 0;
    border-top: 1px solid var(--color-text-light);
    border-right: 1px solid var(--color-text-light);
    border-bottom: 1px solid var(--color-text-light);
}

.photoContainerReversed {
    border-radius: clamp(20px, 2.6vw, 50px) 0 0 clamp(20px, 2.6vw, 50px);
    border-top: 1px solid var(--color-text-light);
    border-left: 1px solid var(--color-text-light);
    border-bottom: 1px solid var(--color-text-light);
}

.photoBlinderRegular {
    background-image: linear-gradient(to left, #ffdab900, #FFDAB9);
}

.photoBlinderReversed {
    right: 0;
    background-image: linear-gradient(to right, #ffdab900, #FFDAB9);
}