.container {
    width: 100vw; 
}

.titleContainerGap {
    height: clamp(100px, 18.2vw, 350px);
    padding-top: clamp(20px, 6.3vw, 120px);
    padding-left: clamp(20px, 5.2vw, 100px);
}

.h2 {
    font-size: clamp(14px, 2.5vw, 48px);
    font-weight: 400;
    color: #AD3D3D;
    width: 40vw;
}

.h2 span {
    font-weight: 700;
    color: #942424;
}

.contentContainer {
    width: 97vw;
/*     height: clamp(600px, 46.9vw, 900px); */
    height: clamp(200px, 46.9vw, 900px);
    position: relative;
    display: flex;
    border-radius: 0 0 50px 0;
    border-right: 1px solid #AD3D3D;
    border-bottom: 1px solid #AD3D3D;
    color: var(--color-text-superlight);
}

.descriptionsContainer {
    width: clamp(250px, 36.5vw, 700px);
    height: 100%;
    padding: clamp(24px, 3.3vw, 64px);
    display: flex;
    align-items: center;

}

.description {
    display: none;
}

.activeDescription {
    display: flex;
}

.categoryTitle {
    text-align: end;
    margin-right:calc(min(3.4vw, 66px));
    white-space: nowrap;
}

.title {
    display: none; 
    font-style: italic;
    font-size: clamp(20px, 3.3vw, 64px);
    font-weight: 100;
    text-transform: uppercase;
    width: max-content;
    margin-left: auto;
} 

.titleDisplay {
    display: initial;
}

.photoSection {
    width: clamp(100px, 63.5vw, 1220px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.photoContainer {
    width: calc(min(52vw, 1000px));
    height: calc(min(38.4vw, 737px));
    overflow: hidden;
    border-radius: 0 0 0 50px;
    border-left: 1px solid #AD3D3D;
    border-bottom: 1px solid #AD3D3D;
    position: relative;
    /* margin-bottom: clamp(30px, 4.7vw, 90px);  */
}

.photo {
    width: 100%;
    height: calc(min(38.4vw, 737px));
    object-fit: cover;
}

.topBlinder {
    width: 100%;
    height: 10%;
    position: absolute;
    top: -1px;
    background-image: linear-gradient(#FFDAB9, #ffdab900);
    z-index: 1;
}

.leftBlinder {
    width: 10%;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    /* background-color: red; */
    background-image: linear-gradient(to left, #FFDAB9, #ffdab900);
    z-index: 1;
}

.refference {
    color: var(--color-text-superlight);
    z-index: 100;
}

.offerLink {
    height: 90px;
    display: flex;
    align-items: center;
    font-size: clamp(20px, 1.9vw, 36px);
    text-transform: uppercase;
    padding: 0 calc(min(5.2vw, 100px));
    transition: 0.5s;
    position: relative;
}

.offerLinkHover {
    background-color: #942424;
    color: #FFDAB9;
    transition: 0.5s;
}


.buttonGradient {
    position: absolute;
    height: 100%;
    width: 40px;
    opacity: 0;
    transition: 0.5s;
}

.buttonGradientLeft {
    background-image: linear-gradient(to right, #FFDAB9, #942424);
    left: 0;
    transform: translateX(-100%);
}

.buttonGradientRight {
    background-image: linear-gradient(to right, #942424, #FFDAB9);
    right: 0;
    transform: translateX(100%);
}

.buttonGradientActive {
    opacity: 1;
    transition: 0.5s;
}

.paginationContainer {
    width: 300px;
    height: 100px;
    position: absolute;
    bottom: clamp(-25px, -1.3vw, -12px) !important;
    pointer-events: none;
}
