.container {
    width: 100vw; 
}

.titleContainerGap {
    height: clamp(100px, 18.2vw, 350px);
    padding-top: clamp(20px, 6.3vw, 120px);
    padding-left: clamp(20px, 5.2vw, 100px);
}

.heading {
    width: 40vw;
}

.contentContainer {
    width: 97vw;
    height: clamp(200px, 46.9vw, 900px);
    position: relative;
    display: flex;
    border-radius: 0 0 var(--border-radius-primary) 0;
    border-right: var(--border-primary);
    border-bottom: var(--border-primary);
    /* color: var(--color-text-light); */
}

.descriptionsContainer {
    width: clamp(250px, 36.5vw, 700px);
    height: 100%;
    padding: clamp(24px, 3.3vw, 64px);
    display: flex;
    align-items: center;
}

.categoryTitleMobile {
    display: none;
}

.description {
    display: none;
}

.activeDescription {
    display: flex;
}

.categoryTitleDesktop {
    text-align: end;
    margin-right:calc(min(3.4vw, 66px));
    white-space: nowrap;
}

.title {
    display: none; 
    width: max-content;
    margin-left: auto;
} 

.titleDisplay {
    display: initial;
}

.photoSection {
    width: clamp(100px, 63.5vw, 1220px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.photoContainer {
    width: calc(min(52vw, 1000px));
    height: calc(min(38.4vw, 737px));
    overflow: hidden;
    border-radius: 0 0 0 var(--border-radius-primary);
    border-left: var(--border-primary);
    border-bottom: var(--border-primary);
    position: relative;
}

.photo {
    width: 100%;
    height: calc(min(38.4vw, 737px));
    object-fit: cover;
}

.topBlinder {
    width: 100%;
    height: 10%;
    position: absolute;
    top: -1px;
    background-image: var(--gradient-top-bottom);
    z-index: 1;
}

.leftBlinder {
    width: 10%;
    height: 100%;
    position: absolute;
    right: -1px;
    top: 0;
    background-image: var(--gradient-right-left);
    z-index: 1;
}

.offerLink {
    height: clamp(28px, 4.7vw, 90px);
    display: flex;
    align-items: center;
    font-size: var(--font-size-button-primary);
    text-transform: uppercase; 
    padding: 0 calc(min(5.2vw, 100px));
    transition: 0.5s;
    position: relative;
    color: var(--color-text-light);
}

.refference {
    z-index: 100;
}

.offerLinkHover {
    background-color: var(--color-text-medium);
    color: var(--color-background-light);
    transition: 0.5s;
}


.buttonGradient {
    position: absolute;
    height: 100%;
    width: 40px;
    opacity: 0;
    transition: 0.5s;
}

.buttonGradientLeft {
    background-image: linear-gradient(to right, #FFDAB9, #942424);
    left: 0;
    transform: translateX(-100%);
}

.buttonGradientRight {
    background-image: linear-gradient(to right, #942424, #FFDAB9);
    right: 0;
    transform: translateX(100%);
}

.buttonGradientActive {
    opacity: 1;
    transition: 0.5s;
}

.paginationContainer {
    width: calc(min(100px, 15.6vw, 300px));
    height: calc(min(25px, 5.2vw, 100px)); 
    position: absolute;
    bottom: calc(min(10px, 1.9vw, 36px)) !important;
    pointer-events: none;
}


@media(max-width: 992px) {
    
    .paginationContainer {
        display: none;
    }
}

@media(max-width: 768px) {
    .heading {
        width: initial;
    }

    .description {
        height: 100%;
        overflow: auto;
        margin-top: calc(min(2vw, 40px));
    }
}

@media(max-width: 576px) {
    .contentContainer {
        flex-direction: column;
        height: auto;
    }
    
    .categoryTitleDesktop {
        display: none;
    }

    .descriptionsContainer {
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .categoryTitleMobile {
        display: initial;
        text-align: right;
    }

    .description {
        height: initial;
        overflow: initial;
    }

    .photoSection {
        width: 100%;
    }

    .photoContainer {
        width: 90%;
    }

}