.specInfo h2 {
  text-align: center;
}

.specInfo p {
  text-align: justify;
}

/* specialist toggle */

.specialist {
  display: none;
  padding: clamp(20px, 2.5vw, 48px) clamp(20px, 2.5vw, 48px) clamp(10px, 1vw, 20px) clamp(20px, 2.5vw, 48px); /* 48px */
}

.active {
  display: flex; 
  flex-direction: column;
  
}

/* specialist toggle */

@media(max-width: 1400px) {

  .specInfo {
    width: 100%;
  }
}