.container {
    width: 100%;
}

.containerHeading {
    text-align: center;
    padding: calc(min(5.9vw, 115px)) 0;
}

.carouselContainer {
    height: clamp(300px, 33.9vw, 650px);
}

.swiper {
    height: 100%;
}

.therapistPhotoContainer {
    height: 80% !important;
    border: 3px solid #f4978e;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    opacity: 0.7;
    filter: grayscale(60%);
}

.therapistPhotoContainerActive {
    height: 100% !important;
    opacity: 1 !important;
    filter: grayscale(0) !important; 
}

.therapistPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descriptionContainer {
    padding: clamp(20px, 3.3vw, 64px);
}

.descriptionHeading {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: clamp(24px, 3.3vw, 64px);
}

.descriptionContainer p {
    height: clamp(200px, 25vw, 480px);
    overflow: auto;
}

.linkContainer {
    margin-top: clamp(16px, 1.3vw, 25px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    padding: clamp(16px, 1.3vw, 25px);
    text-transform: uppercase; 
    transition: 0.5s;
    position: relative;
    border: 1px solid var(--color-text-light);
    font-size: var(--font-size-button-primary);
    color: var(--color-text-light);
}

.link:hover {
    background-color: var(--color-text-medium);
    color: var(--color-background-light); 
    transition: 0.5s;
}