@import '../globals.css';
@import '../page.module.css';

/* .container-offer-2 {
  width: 100%;
} */

.container-offer-2 h2 {
    font-size: 40px;
  }
  .container-offer-2 ul {
    margin-left: 20px;
  }
  
  .tele {
    margin-top: 20px;
  }
  
  .voll {
    margin-top: 50px;
  }
  
  .fire {
    margin-top: 50px;
  }
  
  .eye {
    margin-top: 20px;
  }
  
  .west {
    width: 50%;
  }
  
  .east {
    width: 50%;
    /* float: right; */
  }
  