.container {
    color: var(--color-text-light);
    margin-top: clamp(100px, 16.1vw, 310px);
}

.infoContainer {
    height: clamp(300px, 34.9vw, 670px); 
    padding: 0 var(--unit-padding-primary);
    display: flex;
    position: relative;
}

.infoContainerTopLine {
    position: absolute;
    top: 0;
    left: 64px;
    width: 70%;
    border-top: 1px solid var(--color-text-light);
}

.infoContainer h1 {
    position: absolute;
    right: 50%;
    top: -26%;
    text-transform: uppercase;
    width: clamp(200px, 22.9vw, 440px);
}

.infoContainer h1 span {
    font-weight: 700;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content p {    
    width: clamp(300px, 37vw, 710px);
}

.contactDataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.link {   
    display: flex;
    align-items: center;
    gap: 10px;
}

.link p {
    width: initial;
}

.iconContainer {
    position: relative;
    width: clamp(40px, 2.6vw, 50px);
    height: clamp(40px, 2.6vw, 50px);
}

.mapContainer {
    width: 50%;
    border-radius: 0 clamp(20px, 2.6vw, 50px) clamp(20px, 2.6vw, 50px) clamp(20px, 2.6vw, 50px);
    border-top: 1px solid var(--color-text-light);
    border-right: 1px solid var(--color-text-light);
    border-bottom: 1px solid var(--color-text-light);
    position: relative;
    overflow: hidden;
}

.mapBorderAdditional {
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
    height: 80%;
    border-radius: 0 0 clamp(20px, 2.6vw, 50px) clamp(20px, 2.6vw, 50px);
    border-left: 1px solid var(--color-text-light);
    pointer-events: none;
}

.topMapBlinder {
    top: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(#FFDAB9, #ffdab900);
}

.leftMapBlinder {
    left: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to left, #ffdab900, #FFDAB9);
}

.rightMapBlinder {
    right: 0;
    width: 20%;
    height: 100%;
    background-image: linear-gradient(to right, #ffdab900, #FFDAB9);
}

.bottomMapBlinder {
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(#ffdab900, #FFDAB9);
}

.mapBlinder {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

@media(max-width: 768px) {

    .container {
        margin-top: 50px;
    }

    .infoContainer {
        height: initial;
        flex-direction: column;
        gap: 15px;
    }

    .infoContainer h1 {
        margin-left: 50%;
        transform: translateX(-50%);
        position: static;
        height: max-content;
    }

    .infoContainerTopLine {
        display: none;
    }

    .content {
        width: initial;
        flex-direction: row;
    }

    .mapContainer {
        width: initial;
        height: 350px;
    }
}

@media(max-width: 576px) {
    .content {        
        flex-direction: column;
        align-items: flex-start;
    }

    .content p {
        width: 100%;
    }
}