:root {
  /* COLORS */
  --color-text-dark: #750505;
  --color-text-dark-medium: #861616;
  --color-text-medium: #942424; 
  --color-text-light-medium: #A13131;
  --color-text-light: #AD3D3D;

  --color-background-dark: #F08080;
  --color-background-dark-medium: #F4978E;
  --color-background-medium: #F8AD9D; 
  --color-background-light-medium: #FBC4AB;
  --color-background-light: #FFDAB9;

  /*TYPOGRAPHY*/
  --font-size-heading-primary: clamp(20px, 3.3vw, 64px);
  --font-size-heading-secondary: clamp(18px, 2.5vw, 48px);

  --font-size-paragraph-primary: clamp(16px, 2vw, 40px);
  --font-size-paragraph-secondary: clamp(14px, 1.6vw, 32px);
  --font-size-paragraph-tertiary: clamp(12px, 1.2vw, 24px);

  --font-size-button-primary: clamp(16px, 1.9vw, 36px);
  
  --line-height-paragraph-primary: clamp(21px, 2.6vw, 50px); 
  --line-height-paragraph-secondary: clamp(16px, 1.9vw, 38px);
  --line-height-paragraph-tertiary: clamp(12px, 1.6vw, 30px);

  /*ANOTHER PARAMETERS*/
  /*BORDER*/
  --border-primary: 1px solid #AD3D3D;
  --border-radius-primary: clamp(12px, 2.6vw, 50px);

  /* GRADIENTS */
  --gradient-top-bottom: linear-gradient(#FFDAB9, #ffdab900);
  --gradient-right-left: linear-gradient(to left, #FFDAB9, #ffdab900);
}



@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200; */
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}


/* ///////////////////////////// */

* {
  box-sizing: border-box;
}

body {
  background-color: #ffdab9;
  font-family: "Lato", sans-serif;
  /* font-size: 40px; */
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: clamp(24px, 2vw, 40px); 
}

h3 {
  font-size: 36px;
}

p,
ul {
  font-size: clamp(16px, 1.7vw, 32px); 
}

header {
  background-image: linear-gradient(#f08080, #ffdab9);
}



footer {
  background-image: linear-gradient(#ffdab9, #f08080);
  padding-bottom: 16px;
}

footer a {
  text-decoration: none;
  color: inherit;
}
/* swiper-landing-page-team */
.swiper-pagination-clickable .swiper-pagination-bullet {
  background-color: #F08080; 
  width: calc(min(1.6vw, 30px));
  height: calc(min(1.6vw, 30px));
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #AD3D3D !important;
  opacity: 1 !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet-team {
  width: clamp(20px, 2.7vw, 53px);
  height: clamp(20px, 2.7vw, 53px);
  border: 1px solid var(--color-text-light);
  border-radius: 50%;
}

.swiper-pagination-bullet-team-active {
  border: 3px solid var(--color-text-light) !important;
  border-radius: 50%;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: calc(min(1.8vw, 36px))!important; 
}

@media(max-width: 1400px) {

  h1 {
    font-size: 40px;
  }

  /* h2 {
    font-size: 36px;
  } */

  h3 {
    font-size: 32px;
  }

  /* p,
  ul {
    font-size: 28px;
  } */

  /* nav {
    display: flex;
    align-items: center;
    margin-right: 64px; 
  }

  header {
    display: flex;
    align-items: center;
  } */

  header {
    height: clamp(100px, 17.1vw, 240px); 
  }
}


@media(max-width: 992px) {
  h1 {
    font-size: 36px;
  }

  /* h2 {
    font-size: 32px;
  } */

  h3 {
    font-size: 28px;
  }

  /* p,
  ul {
    font-size: 24px;
  } */
}

@media(max-width: 768px) {
  h1 {
    font-size: 32px;
  }

  /* h2 {
    font-size: 28px;
  } */

  h3 {
    font-size: 24px;
  }

  /* p,
  ul {
    font-size: 20px;
  } */
}

@media(max-width: 576px) {
  h1 {
    font-size: 28px;
  }

  /* h2 {
    font-size: 24px;
  } */

  h3 {
    font-size: 20px;
  }

  /* p,
  ul {
    font-size: 16px;
  } */
}

/* ///////////////////////////// */


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
