  
  /*---------------------------------------*/
  
  .page-o2 {
    bottom: 1900px;
    width: 100%;
    /*   height: 1160px; */
    margin-left: auto;
    margin-right: auto;
    color: #ad3d3d;
  }
  
  .page-o2 section h1 {
    text-align: center;
  }
  
  .specialist-photo img {
    width: 400px;
    height: 292px;
    display: inline-block;
    margin-left: 32px;
    margin-right: 32px;
    border: 3px solid #f4978e;
    border-radius: 50px;
    flex-basis: 15%;
  }
  .specialist-photo img:last-child {
    margin-right: 0;
  }
  .specialist-photo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }
  
  /*---------------------------------------*/
  
  .spec-info {
    float: left;
    margin-left: 64px;
    width: 800px;
  }
  
  .spec-info h2 {
    text-align: center;
  }
  
  .spec-info p {
    text-align: justify;
  }
  
  /*---------------------------------------*/
  
  .submit-section {
    float: left;
    margin-left: 64px;
    margin-top: 64px;
  }
  
  .calendar {
    background-color: #f4978e;
    width: 464px;
    height: 398px;
    border: 3px solid #861616;
    border-radius: 50px;
    margin-bottom: 150px;
    position: relative;
  }
  .month {
    width: 90%;
    font-size: 24px;
    position: absolute;
    left: 5%;
    right: 5%;
  }
  
  .month h2 {
    text-align: center;
    border-bottom: 1px solid #861616;
    padding-bottom: 25px;
    margin-bottom: 0;
    font-size: 24px;
  }
  
  .month table tr td {
    font-size: 24px;
    padding-right: 20px;
    padding-top: 19px;
  }
  
  .submit-section input {
    background-color: #ffdab9;
    border: 3px solid #ad3d3d;
    border-radius: 50px;
    width: 463px;
    height: 63px;
    color: #ad3d3d;
    font-size: 18px;
    cursor: pointer;
  }
  
  .day {
    float: left;
    background-color: #f8ad9d;
    width: 400px;
    height: 611px;
    margin-left: 64px;
    border: 3px solid #942424;
    border-radius: 50px;
  }
  
  .day-content {
    margin-top: 23px;
  }
  
  .hour {
    height: 45px;
    position: relative;
  }
  
  .reservation {
    position: absolute;
    bottom: 0;
    font-size: 24px;
    float: left;
    height: 20px;
    margin-left: 32px;
    width: 81px;
    padding-bottom: 10px;
    background-color: #f4978e;
    border-radius: 40px;
    text-align: center;
  }
  .reservation-field {
    float: right;
    width: 223px;
    border-bottom: 1px solid #942424;
    height: 100%;
    margin-right: 32px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  /*---------------------------------------*/
  
  
  
  /*---------------------------------------PAGE---------------------------------------*/
  
  /*---------------------------------------FOOTER---------------------------------------*/
  /*---------------------------------------FOOTER_OLD---------------------------------------*/
  
  /* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 450px;
    background-image: linear-gradient(#ffdab9, #f08080);
  }
  
  
  
  .footer-menu {
    float: left;
    color: #ad3d3d;
    width: 1792px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
    padding-bottom: 37px;
    border-bottom: 3px dotted #a13131;
    text-align: center;
    position: absolute;
    bottom: 196px;
    width: 96%;
    left: 3%;
    right: 3%;
  }
  
  .footer-menu ul {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  
  .footer-menu ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    display: table-cell;
  }
  
  .footer-bottom {
    position: absolute;
    bottom: 0;
    width: 96%;
    left: 3%;
    right: 3%;
  }
  
  .info-footer {
    float: left;
  }
  
  .info-footer ul {
    list-style-type: none;
    padding-top: 4px;
    margin-bottom: 43px;
  }
  
  .info-footer ul li {
    font-size: 30px;
    font-weight: light;
    color: #750505;
    padding-top: 33px;
  }
  
  .reserved-footer {
    text-align: center;
    font-size: 24px;
  
    position: absolute;
    bottom: 0;
    width: 100%;
    left: auto;
    right: auto;
    color: #750505;
  }
  
  .socials {
    float: right;
    margin-top: 21px;
  }
  
  .fb {
    float: left;
    transition: all 0.2s ease-in-out;
  }
  
  .fb:hover a {
    content: url("img/footer/fb_color.svg");
  }
  
  .ig {
    float: left;
    padding-left: 60px;
    transition: content 3s ease-in-out;
  }
  
  .ig:hover a {
    content: url("img/footer/inst_color.svg");
  }
  
  .tw {
    float: left;
    padding-left: 60px;
  }
  
  .tw:hover a {
    content: url("img/footer/tw_color.svg");
  }
  
  .in {
    float: left;
    padding-left: 60px;
  }
  
  .in:hover a {
    content: url("img/footer/in_color.svg");
  } */
  /*---------------------------------------FOOTER_OLD---------------------------------------*/
  /*---------------------------------------FOOTER_NEW---------------------------------------*/
  
  
  .footer-menu {
    color: #ad3d3d;
    display: flex;
    justify-content: center;
  }
  .footer-menu ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 40px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dotted #a13131;
  }
  
  .footer-menu ul li:hover {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }
  .footer-bottom-content {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .info-footer ul {
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    margin: 0;
    /* font-weight: light; */
    color: #750505;
  }
  
  .info-footer ul li:hover {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
  }
  
  .reserved-footer {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  
  .reserved-footer p {
    font-size: 24px;
    color: #750505;
    margin: 0;
  }
  /*---*/
  .socials {
    display: flex;
    gap: 60px;
  }
  
  .fb a {
    content: url("../../img/footer/fb_sepia.svg");
  }
  
  .fb:hover a {
    content: url("../../img/footer/fb_color.svg");
  }
  
  .ig a {
    content: url("../../img/footer/inst_sepia.svg");
  }
  
  .ig:hover a {
    content: url("../../img/footer/inst_color.svg");
  }
  
  .tw a {
    content: url("../../img/footer/tw_sepia.svg");
  }
  
  .tw:hover a {
    content: url("../../img/footer/tw_color.svg");
  }
  
  .in a {
    content: url("../../img/footer/in_sepia.svg");
  }
  
  .in:hover a {
    content: url("../../img/footer/in_color.svg");
  }
  

  @media (max-width: 1400px) {

    .specialist-photo img {
      width: 30%;
    }
  
    .spec-info {
      width: 100vw;
    }
  
    .submit-section {
      display: flex;
      flex-flow: column wrap;
      margin-left: auto;
      margin-top: auto;
    }
  
    
    /*---------------------------------------FOOTER_NEW---------------------------------------*/
    .footer-menu {
      font-size: 28px;
    }
    .info-footer ul {
      font-size: 24px;
    }
    .reserved-footer p {
      font-size: 18px;
    }
  }
  

  
  @media (max-width: 992px) {

    .footer-menu ul {
      font-size: 28px;
    }
    /*------------------FOOTER_NEW------------------------*/
  }

  @media (max-width: 768px) {

    .footer-bottom-content {
      flex-direction: column-reverse;
      gap: 24px;
    }
    .socials {
      gap: 48px;
    }
    .footer-menu ul {
      flex-direction: column;
      gap: 0;
      align-items: center;
      padding: 0;
    }
    .footer-menu ul li {
      text-align: center;
      width: 80%;
      padding: 24px 0;
      border-top: 3px dotted #a13131;
      background-image: linear-gradient(90deg, #f0808000, #ffdab9, #f0808000);
    }
    /*------------------FOOTER_NEW------------------------*/
  }

  
  @media (max-width: 576px) {
    
    .socials {
      gap: 18px;
      flex-wrap: wrap;
    }
    .footer-menu ul li {
      width: 90%;
    }
    /*------------------FOOTER_NEW------------------------*/
  }
  /*-------------------------------MAX - WIDTH - 576 PX----------------------------------------*/
  /*--------------------------------------------------------------------------POINTER---------------------------------------------------------------------------*/
  /*hover: none*/
  @media (pointer: coarse) {
    /* .offer-dropdown-active {
      transform: scaleY(1);
      transition: 10s;
    } */
  
    /*------------------------------------------*/
    /*   .offer-dropdown {
      position: absolute;
      top: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 100;
      opacity: 0;
      transform: translateY(-50%) scaleY(0);
      transition: 0.7s cubic-bezier(0, 0, 0, 1);
    }
  
    nav.active .offer-dropdown {
      position: absolute;
      top: 200px;
      display: flex;
      flex-direction: column;
      opacity: 1;
      transform: translateY(0) scaleY(1);
      transition: 0.7s cubic-bezier(0, 0, 0, 1);
    }
  
    .offer-dropdown a {
      text-decoration: none;
      background-color: #f8ad9d;
      border-bottom: 3px dotted #ffdab9;
      color: #a13131;
      text-align: left;
      padding: 10px 1rem;
    }
  
    .offer-dropdown a:last-child {
      border-bottom: none;
    } */
    /*------------------------------------------*/
    /*  .offer-dropdown {
      display: none;
      position: absolute;
      top: 40px;
      left: 0;
      text-align: center;
    }
    
  
    
  }
  
  */
  }
  