/*GLOBALS*/
/*TYPOGRAPHY*/
.paragraphPrimary {
  font-size: var(--font-size-paragraph-primary);
}

.paragraphSecondary {
  font-size: var(--font-size-paragraph-secondary);
}

.paragraphTertiary {
  font-size: var(--font-size-paragraph-tertiary);
}
