.container {
    color: #AD3D3D;
    padding: var(--unit-padding-primary);
}

.container h2,.container p {
    margin-bottom: clamp(30px, 3.3vw, 64px);
}

.container ul {
    list-style-type: none; 
}

.container ul li {
    margin-left: clamp(66px, 6.3vw, 120px);
    position: relative;
}

.container ul li p {
    margin-bottom: 0;
}

.container ul li::before {
    content: url('/mdi_bird.svg');
    position: absolute;
    left: -80px;
    bottom: 50%;
    transform: translateY(50%);
}

.unit p {
    margin: 10px 0 !important;
}

@media(max-width: 1400px) {
    .container ul li {
        margin-left: 66px;
    }
}