.carousel-container {
    display: flex;
    justify-content: center;
}

.therapist-carousel {
    width: 96%;
    height: 292px;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: inline-flex;
    gap: 24px;
    position: absolute;
}

.therapist-photo-container {
    min-width: 400px;
    width: 400px;
    height: 292px;
    border: 3px solid #f4978e;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.therapist-photo {
    width: 100%;
    height: 100%;  
    object-fit: cover;
    object-position: top;
  }


  .specialist-photo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }