.container {
    color: var(--color-text-light);
    border-radius: clamp(12px, 2.6vw, 50px) clamp(12px, 2.6vw, 50px) 0 0;
    padding: clamp(16px, 2.6vw, 50px);
    border-left: 1px solid var(--color-text-light);
    border-top: 1px solid var(--color-text-light);
    border-right: 1px solid var(--color-text-light);
    overflow: hidden;
    position: relative;
}

/* // */
.containerArticles {
    width: 93vw;
    height: clamp(200px, 44.9vw, 863px);
}

.containerLandingPage {
    background-color: #FFDAB9;
    width: 100%;
    height: clamp(100px, 26vw, 500px);
}
/* // */

.container h2 {
    font-weight: 700;
    text-align: center;
}

/* // */
.containerArticles h2 {
    font-size: clamp(18px, 3.3vw, 64px);
    margin-bottom: calc(min(2.6vw, 50px));
}

.containerLandingPage h2 {
    font-size: clamp(14px, 1.6vw, 30px);
    margin-bottom: calc(min(2vw, 40px));
}

.container p {
    font-weight: 400;
}

/* // */

.containerArticles p {
    font-size: clamp(14px, 2vw, 40px);
}

.containerLandingPage p {
    font-size: clamp(1px, 1.3vw, 24px);
}

/* // */

.dataContainer {
    width: 100%;
    padding: 0 clamp(25px, 2.6vw, 50px);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.info h3 {
    font-weight: 100;
}

.info h3,
.dataContainer a {
    font-size: clamp(12px, 1.8vw, 36px);
}

.bottomBlinder {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(#ffdab900, #FFDAB9);

}