
.metric {
  display: flex;
  align-items: center; 
  gap: calc(min(5.2vw, 100px));
  margin: clamp(0px, 3.3vw, 64px) 0;
  text-transform: uppercase;
  text-align: left;
}

.metricInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.metricInfo p {
  width: 90%;
}


@media(max-width: 786px) {
  .metric {
      flex-direction: column;
      gap: 0;
  }

  .metricInfo {
      align-items: center;
  }

  .metricInfo p {
    width: 70%;
  }
}