.metric {
  display: flex;
  align-items: center; 
  gap: calc(min(5.2vw, 100px));
  margin: clamp(0px, 3.3vw, 64px) 0;
  text-transform: uppercase;
  text-align: left;
}

.metricInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.metricInfo h2 {
  font-weight: 400;
}

/* @media(max-width: 786px) {

  .metricInfo p {
    width: max-content;
  }
} */