.page-o2 {
  bottom: 1900px;
  width: 100%;
  color: #ad3d3d;
}

.page-o2 section h1 {
  text-align: center;
}



.submit-section {
  display: flex;
  width: 96%;
}

.date-section {
  display: flex;
}



@media(max-width: 1400px) {

  .submit-section {
    flex-direction: column;
  }
}


