.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6%;
}

.menu a {
  text-decoration: none;
  color: var(--color-text-dark) !important;
}
.menu a:hover {
  text-decoration: underline;
}

.mainMenu {
  display: flex;
  gap: 50px;
}

.menuOffer {
  position: relative;
}

.offerDropdown {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  background: var(--color-background-dark);
  align-items: flex-start;
  z-index: 100;
  margin-top: 6px;
  position: absolute;
  top: 0x;
  transform: translateY(-50%) scaleY(0);
  transition: 0.5s;
  width: 450%;
}

.offerDropdown a {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 3px dotted var(--color-background-light);
}

.offerDropdown a:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.offerDropdownActive {
  transform: translateY(0) scaleY(1);
  transition: 0.5s;
}

@media (max-width: 1400px) {
  .navigation {
    display: flex;
    align-items: center;
    margin-right: clamp(8px, 4.6vw, 64px);
  }

  .headerToggle {
    position: relative;
    background-color: var(--color-background-light);
    border: clamp(1px, 0.2vw, 3px) solid var(--color-background-dark);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(64px, 9.3vw, 130px);
    height: clamp(64px, 9.3vw, 130px);
    margin-top: 25px;
  }

  .headerToggle::before {
    content: "";
    position: absolute;
    width: clamp(45px, 6.4vw, 90px);
    height: clamp(1px, 0.4vw, 5px);
    background: var(--color-background-dark);
    transform: translateY(clamp(-20px, -1.4vw, 0px));
    box-shadow: 0 clamp(0px, 1.4vw, 20px) var(--color-background-dark);
    transition: 0.5s;
  }

  .headerToggle::after {
    content: "";
    position: absolute;
    width: clamp(45px, 6.4vw, 90px);
    height: clamp(1px, 0.4vw, 5px);
    background: var(--color-background-dark);
    transform: translateY(clamp(0px, 1.4vw, 20px));
    transition: 0.5s;
  }

  .headerToggleAnimation::before {
    transform: rotate(45deg);
    box-shadow: 0 0 var(--color-background-dark);
    transition: 0.5s;
  }

  .headerToggleAnimation::after {
    transform: rotate(315deg);
    transition: 0.5s;
  }

  .menu {
    position: absolute;
    flex-direction: column;
    left: 0;
    top: clamp(100px, 17.9vw, 250px);
    width: 100%;
    margin: 0;
    z-index: 100;
    background-color: var(--color-background-medium);
    transform: translateY(-50%) scaleY(0);
    transition: 0.5s;
  }

  .mainMenuMobileActive {
    transform: translateY(0) scaleY(1);
    transition: 0.5s;
  }

  .mainMenuSection a {
    border-bottom: 3px dotted var(--color-background-light);
    color: var(--color-text-light-medium); 
    text-align: left;
    display: flex;
    padding: 24px 0 24px 52px;
    width: 100%;
  }

  .menuArticles a {
    border-bottom: none;
  }

  .offerDropdown a {
    width: 100%;
  }

  .offerDropdown a:last-child {
    border-bottom: 3px dotted var(--color-background-light);
    padding-bottom: 23px;
  }

  .offerDropdown {
    margin-top: 0;
    border-radius: 0;
    height: 0;
    padding: 0;
    opacity: 0;
    gap: 0;
    position: static;
    transform: translateY(-50%) scaleY(0);
    transition: all 0.5s;
  }

  .offerDropdownActive {
    opacity: 1;
    height: max-content;
    transform: translateY(0) scaleY(1);
    transition: all 0.5s;
  }
}

@media (max-width: 992px) {
  .mainMenuSection a {
    padding: 20px 0px 20px 32px;
  }
}

@media (max-width: 768px) {
  .mainMenuSection a {
    padding: 16px 0 16px 28px;
  }
}

@media (max-width: 576px) {
  .mainMenuSection a {
    padding: 12px 0 12px 24px;
  }
}