.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6%;
  }
  
  .menu a {
    text-decoration: none;
    color: #750505;
  }
  .menu a:hover {
    text-decoration: underline;
    font-weight: 600;
  }
  
  .main-menu {
    display: flex;
    gap: 50px;
  }

  .menu-offer {
    position: relative;
  }
  
  .offer-dropdown {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    background: #f08080;
    align-items: flex-start;
    z-index: 100;
    margin-top: 6px;
    position: absolute;
    top: 64px; 
    transform: translateY(-50%) scaleY(0);
    transition: 0.5s;
    width: 450%;
  }
  
  .offer-dropdown a {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 3px dotted #ffdab9;
  }
  
  .offer-dropdown a:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  
  nav.active-offer-web-dropdown .offer-dropdown {
    transform: translateY(0) scaleY(1);
    transition: 0.5s;
  }
  
  @media (max-width: 1400px) {
    
  
    nav {
      display: flex;
      align-items: center;
      margin-right: 64px; 
    }
  
    .header-toggle {
      position: relative;
      background-color: #ffdab9;
      border: 3px solid #f08080;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 130px;
      height: 130px;
    }
    
    .header-toggle::before {
      content: "";
      position: absolute;
      width: 70%;
      height: 5px;
      background: #f08080;
      transform: translateY(-20px);
      box-shadow: 0 20px #f08080;
      transition: 0.5s;
    }
  
    .header-toggle::after {
      content: "";
      position: absolute;
      width: 70%;
      height: 5px;
      background: #f08080;
      transform: translateY(20px);
      transition: 0.5s;
    }
  
    nav.main-menu-active .header-toggle::before {
      transform: rotate(45deg);
      box-shadow: 0 0 #f08080;
      transition: 0.5s;
    }
  
    nav.main-menu-active .header-toggle::after {
      transform: rotate(315deg);
      transition: 0.5s;
    }
  
    .menu {
      position: absolute;
      flex-direction: column;
      left: 0;
      top: 250px;
      width: 100%;
      margin: 0;
      z-index: 100;
      background-color: #f8ad9d;
      transform: translateY(-50%) scaleY(0);
      transition: 0.5s;
    }

    
  
    nav.main-menu-active .menu {
      transform: translateY(0) scaleY(1);
      transition: 0.5s;
    }
  
    .main-menu-section a {
      border-bottom: 3px dotted #ffdab9;
      color: #a13131;
      text-align: left;
      display: flex;
      padding: 24px 0 24px 52px;
      width: 100%;
    }
  
    .menu-contact a {
      border-bottom: none;
    }
  
  
    .offer-dropdown a {
      width: 100%;
    }
  
    .offer-dropdown a:last-child {
      border-bottom: 3px dotted #ffdab9;
      padding-bottom: 23px;
    }
  
    .offer-dropdown {
      margin-top: 0;
      border-radius: 0;
      height: 0;
      padding: 0;
      opacity: 0;
      gap: 0;
      position: static;
      transform: translateY(-50%) scaleY(0);
      transition: all 0.5s;
    }
    nav.active-offer-mobile-dropdown .offer-dropdown {
      opacity: 1;
      height: 491px;
      transform: translateY(0) scaleY(1);
      transition: all 0.5s;
    }
  }
  
  @media(max-width: 992px) {
  
    .menu {
      font-size: 32px;
      top: 180px;
    }
  
    .header-toggle {
      width: 100px;
      height: 100px;
    }
  
    .main-menu-section a {
      padding: 20px 0px 20px 32px;
    }
  
    nav.active-offer-mobile-dropdown .offer-dropdown {
      height: 410px;
    }
  }
  
  @media(max-width: 768px) {
  
    .menu {
      font-size: 24px;
      top: 130px;
    }
  
    .header-toggle {
      width: 75px;
      height: 75px;
    }
  
    .main-menu-section a {
      padding: 16px 0 16px 28px;
    }
  
    nav.active-offer-mobile-dropdown .offer-dropdown {
      height: 324px;
    }
  }
  
  @media(max-width: 576px) {
  
    .menu {
      font-size: 24px;
      top: 100px;
    }
  
    .header-toggle {
      width: 64px;
      height: 64px;
    }
  
    .main-menu-section a {
      padding: 12px 0 12px 24px;
    }
  
    nav.active-offer-mobile-dropdown .offer-dropdown {
      height: 288px;
    }
  }