@import '../globals.css';
@import '../page.module.css';

/* .container-offer-5 {
  width: 100%;
} */

/*---------------------------------------HEADER---------------------------------------*/
.west {
    float: left;
    width: 50%;
  }
  
  .east {
    float: left;
    width: 50%;
  }
  