.entryContainer {
  display: flex;
  justify-content: center;
  gap: clamp(24px, 3.3vw, 64px);
  padding: clamp(0px, 3.3vw, 64px) clamp(0px, 3.3vw, 64px) 0 clamp(0px, 3.3vw, 64px);
}

.entryDescription {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.entryDescription h1 {
  margin-top: 0;
  text-align: center;
}

.entryPhotoContainer {
  width: 50%;
  border: var(--border-secondary);
  border-radius: var(--border-radius-primary);
  z-index: 15;
  position: relative;
  overflow: hidden;
}

.categoryPhoto {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bookButton {
  width: 101%;
  height: clamp(50px, 5.2vw, 100px);
  background-color: var(--color-background-dark);
  border-radius: var(--border-radius-primary);
  z-index: 50;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.bookButton p {
  font-size: var(--font-size-button-primary);
  color: var(--color-text-dark);
}

.entryPhotoContainer:hover .bookButton {
  height: clamp(75px, 7.8vw, 150px);
  opacity: 1;
}

@media (max-width: 1400px) {
  .entryContainer {
    flex-direction: column;
    align-items: center;
  }

  .entryDescription {
    width: 96%;
  }
  
  .entryDescription h1 {
    margin-bottom: calc(min(2.5vw, 35px));
  }

  .entryPhotoContainer {
    width: 80%;
    height: clamp(200px, 32.1vw, 450px);
  }

  .categoryPhoto {
    object-position: var(--object-position-responsive-primary);
  }
}

@media(max-width: 1200px) {

    .entryPhotoContainer {
        width: 90%;
    }
}


@media (max-width: 992px) {

    .entryPhotoContainer {
      width: 96%;
  }
}