.container {
    width: 100vw;
    height: 60vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}

.video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.label {
    width: clamp(152px, 29.4vw, 564px);
    height: clamp(84px, 16.1vw, 310px); 
    background-color: #FFDAB9;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: clamp(12px, 1.3vw, 25px) 0 0 0;
    display: flex;
    justify-content: space-between;
    padding:  calc(min(2vw, 40px))  calc(min(5.2vw, 100px)) 0 calc(min(2vw, 40px));
}

.label h2 {
    color: #AD3D3D;
    font-size: clamp(12px, 2.5vw, 48px);
    font-weight: 400;
}

.label h2 span {
    font-weight: 700;
}

.textPosition {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
}

.buttonContainer {
    position: relative;
}

.button {
    width: clamp(24px, 3.6vw, 70px);
    height: clamp(24px, 3.6vw, 70px);
    position: absolute;
    bottom: 6%;
    right: -20px;
    border: 2px solid #AD3D3D;
    border-radius: 50%;
    background: none;
    background-image: url('/landingPage/chevronDown.png');
    background-size: 70%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-top: auto;
}

.buttonHide {
    display: none;

}

.topBlinder {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(#FFDAB9, #ffdab900);
}

@media(max-width: 1200px) {
    .container {
        align-items: normal;
    }
}

@media(max-width: 412px) {
    .button {
        bottom: 15%;
        right: 19px;
    }
}