.headerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerIcon {
  padding: 64px;
}

.headerIconMiddle {
  margin-right: 4.4%;
  width: clamp(250px, 36vw, 693px);
}

.headerIconMiddle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media(max-width: 1400px) {

  .headerTop {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .headerLogo {
    display: none;
  }

  .headerUser {
    display: none;
  }



  .headerIcon {
    padding: 0;
  }

  .headerIconMiddle {
    margin: 0;
    width: 60%;
  }
}