.halfDivider {
  width: 50%;
}

.metricContainer {
  height: 100%;
  padding-right: var(--unit-padding-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.descriptionContainer {
  display: flex;
}

.singleList {
  display: flex;
  justify-content: center;
}

@media(max-width: 768px) {

  .halfDivider {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .metricContainer {
    padding-right: 0;
  }

  .descriptionContainer {
    flex-direction: column;
  }
}

@media(max-width: 576px) {
  .metricContainer {
    padding: 0 var(--unit-padding-primary);
  }
}